header {
  height: 1000px;
  background-image: url('./img/fondo.png');
  background-size: contain;
  background-position: top right; /* imagen en la esquina superior derecha */
  background-repeat: no-repeat;
  background-color: transparent;

  display: flex;
  justify-content: center; /* centra horizontalmente */
  align-items: center;     /* centra verticalmente */
  text-align: center;
  color: white;
}
